<br/>
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
	  <div class="row">
		<div class="col-sm" style="text-align: center;">
		    <p style="margin-bottom: 8px;">
				<a href="mailto:{{- site.data.pi | map: 'email' | join: ',' -}}" target="_blank"><i class="fa fa-envelope"></i> Contact us</a>
			</p>
			<p style="opacity: 0.6; font-size: 0.85rem; margin-bottom: 4px;">
				A collaborative project between NC State, UPitt, CMU, and UMass Amherst
			</p>
		</div>
	  </div>

      <center><p style="opacity: 0.5; font-size: 0.8rem;">&copy; {{ "now" | date: "%Y" }} {{ site.title | escape }}</p></center>
	</div>
  </div>
</div>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
